.reset-page {
  width: 100%;
}
.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset-form input {
  width: 18rem;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0.6rem;
  border-color: rgb(196, 194, 194);
  outline: none;
}
